# ==================================
# 生产环境配置文件（案例）
# ==================================

ENVIRONMENT = prod

# 服务器配置
SERVER_HOST = 0.0.0.0
SERVER_PORT = 8001

# 文档配置
DEBUG = False
VERSION = 3.1.0

# 是否启用演示模式
DEMO_ENABLE = True

# 数据库配置：mysql-3306、postgres-5432、sqlite
DATABASE_TYPE = mysql
DATABASE_HOST = your_database_host
DATABASE_PORT = 3306
DATABASE_USER = root
DATABASE_PASSWORD = your_database_password
DATABASE_NAME = fastapiadmin

# Redis配置
REDIS_HOST = your_redis_host
REDIS_PORT = 6379
REDIS_USER = ''
REDIS_PASSWORD = your_redis_password
REDIS_DB_NAME = 1

# 日志配置
LOGGER_LEVEL = INFO

# 大模型配置
OPENAI_BASE_URL = https://api.deepseek.com
OPENAI_API_KEY = your_api_key
OPENAI_MODEL = deepseek-v4-pro
